@import "tailwindcss";

@theme {
  --color-primary-light-purple: #f9f4ff; /* Primary background light purple */
  --color-primary-dark-purple: #4e2c62; /* Primary dark purple for text */
  --color-secondary-purple: #8764b5; /* Secondary purple for darker backgrounds */
  --color-tertiary-purple: #d8cbe6; /* Tertiary purple for lighter purple backgrounds */
  --color-disabled-purple: #75657e; /* Disabled purple for disabled buttons */
  --color-accent-purple: #631c8c; /* Accent purple for buttons */
  --color-primary-white: #ffffff; /*Primary light for text */
  --color-error-red: #f54c70; /* Red for errors canceling */
  --color-error-red-hov: #f292a7; /* Red for hover state */
  --color-error-red-act: #e91e4a; /* Red for active state */
  --color-success-green: #95cf8a; /* Success green for success messages */
}

body {
  background-color: var(--color-primary-light-purple);
  color: var(--color-primary-dark-purple);
}

.input {
  /* width: 100%; */
  background-color: var(--color-primary-white);
  color: var(--color-primary-dark-purple);
  border: 1px solid var(--color-primary-white);
  border-radius: 0.5rem;
  padding: 0.5rem;
  transition: border-color 0.3s;
}
.input:focus {
  border-color: var(--color-accent-purple);
  outline: none;
}
.input:disabled {
  background-color: var(--color-disabled-purple);
  color: var(--color-primary-white);
  cursor: not-allowed;
}
.button {
  background-color: var(--color-accent-purple);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  color: var(--color-primary-white);
  font-weight: 600;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: var(--color-secondary-purple);
}
.button:active {
  background-color: var(--color-primary-dark-purple);
}
.button:disabled {
  background-color: var(--color-disabled-purple);
  cursor: not-allowed;
}

.red-button {
  background-color: var(--color-error-red);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary-white);
  font-weight: 600;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  transition: background-color 0.3s;
}
.red-button:hover {
  background-color: var(--color-error-red-hov);
}
.red-button:active {
  background-color: var(--color-error-red-act);
}

.gray-button {
  background-color: oklch(92.8% 0.006 264.531);
  display: flex;
  justify-content: center;
  align-items: center;
  color: oklch(55.1% 0.027 264.364);
  font-weight: 600;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}
.gray-button:hover {
  background-color: oklch(70.7% 0.022 261.325);
  color: var(--color-primary-white);
}
.gray-button:active {
  background-color: oklch(50.2% 0.03 261.325);
  color: var(--color-primary-white);
}
